{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jasmine": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "strict": 1,
    "semi": 2,
    "no-template-curly-in-string": 1,
    "array-callback-return": 2,
    "class-methods-use-this": 2,
    "complexity": ["warn", 2],
    "consistent-return": 2,
    "default-case": 2,
    "dot-notation": 2,
    "eqeqeq": 1,
    "no-caller": 2,
    "no-else-return": 2,
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-implicit-globals": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-param-reassign": "error",
    "no-proto": "warn",
    "no-return-assign": "warn",
    "no-unused-expressions": "warn",
    "no-useless-return": "error",
    "no-sync": "warn",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "eol-last": "error",
    "indent": ["error", "tab", {
      "SwitchCase": 1
    }],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": "error",
    "max-params": "error",
    "no-mixed-operators": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": "error",
    "no-trailing-spaces": "error",
    "arrow-body-style": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "no-confusing-arrow": "error",
    "no-var": "error",
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "object-shorthand": "warn",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error"
  }
}