@import "utilStyles";
@import "utilMixins";

$transition-time: 300ms;

.iconBackground {
	opacity: 0;
	border-radius: 50%;
	transition: opacity $transition-time ease-out;
	z-index: -1; // needed to make image capture hover

	@extend .full-size-absolute-child;
}

.image {
	width: 80%;
	height: 80%;

	@include h-v-center();

	// cause we can only capture sibling renderer next to us in DOM
	&:hover + .iconBackground {
		opacity: 0.4;
	}
}
