@import "utilStyles";
@import "utilMixins";

$transition-time: 500ms;

.iconBackground {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	border-radius: 50%;
	transition: opacity $transition-time ease-out;

	z-index: -1; // needed to make image capture hover
}

.image {
	width: 80%;
	height: 80%;

	@include h-v-center();

	// cause we can only capture sibling renderer next to us in DOM
	&:hover + .iconBackground {
		opacity: 0.3;
	}
}
