@import "utilStyles";
@import "utilMixins";

.employeeCardContainer {
	flex: 0 0 30*$decade;
	height: 40*$decade;
	margin-bottom: 5*$decade;
	margin-right: 3*$decade;
	border: $fresh .5*$decade solid;
	border-radius: $decade;
	background: white;
	transition: opacity 500ms ease-in-out;

	@include border-blur($blur: $decade, $spread: $decade);
}

.entering {
	opacity: 0;
}

.cardTopBackground {
	position: relative;
	height: 10*$decade;

	background-color: $fresh;
}

.imageSize {
	height: 10*$decade;
	width: 10*$decade;
}

.profileImagePlaceHolder {
	position: absolute;
	top: 5*$decade;
	left: 10*$decade;
	border-radius: 50%;
	border: white solid .5*$decade;
	overflow: hidden;

	@extend .imageSize;
}

.profileImage {
	@extend .imageSize;
}