@import "utilStyles";
@import "utilMixins";

.formContainer {
  width: auto;
  border: $navy-blue .2*$decade solid;
}

.titleText {
  color: $navy-blue;
}

.sampleImage {
  flex-wrap: wrap;
  min-height: 15*$decade !important;
	margin-bottom: 2*$decade;

	@include h-center();
  @extend .center-x;
}

.formBodyContainer {
  @include flex-container($justify: stretch);
}

.imageSection {
  width: 20*$decade;
	padding-top: 7*$decade;
  padding-right: 1.5*$decade;
  border-right: $parrot-green .1*$decade solid;

}

.dynamicName {
	width: 15*$decade;
	text-align: center;
	font-size: medium;

	@include h-center();
	@extend .center-x;
}

.ellipsis {
	@include ellipsis();
}