@import "utilStyles";
@import "utilMixins";

.formContainer {
  width: auto;
  border: $navy-blue .2*$decade solid;
}

.titleText {
  color: $navy-blue;
}

.sampleImage {
  flex-wrap: wrap;
  min-height: 15*$decade !important;
	margin-bottom: 2*$decade;

  @extend .center-x;
}

.formBodyContainer {
  @include flex-container($justify: stretch);
}

.imageSection {
  width: 20*$decade;
  padding-right: 1.5*$decade;
  border-right: $parrot-green .1*$decade solid;

  @include flex-container($justify: center, $flow: column nowrap, $align-items: center);
}

.colorWindow {
  width: 6*$decade;
  height: 2*$decade;
}
