
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.inline-blk {
    display: inline-block !important;
}

.pos-rel {
    position: relative !important;
}

.pos-abs {
    position: absolute !important;
}

.alert-success-alt {
    border-color: #1f83c1;
    background: #1f83c1;
    color: white;
}
