@import "utilStyles";
@import "utilMixins";

$side-safe-margin: 2*$decade;

.headerContainer {
	flex: 0 0 7*$decade;

	background-color: $background-default;
}

.headerContentContainer {
	max-width: $header-max-width;
	padding: 0 $side-safe-margin;

	@extend .full-height;
	@include h-center();

	@include flex-container();
}

.appNameSection {
	font-size: xx-large;
	font-family: Palatino;
	color: $charcoal;

	@extend .center-y;
}

.appDetailSection {
	width: 30*$decade;

	@include flex-container($align-items: center);
}