@import "utilMixins";
@import "utilStyles";

.overlayContainer {
	position: absolute;
	top: 0;
	left: 0;
	background: $pale-white;
	opacity: .7;

	@extend .full-width;
	@extend .full-height;
	@extend .center-x-y;
}